[submodule "charuco_detector_ROS2"]
	path = charuco_detector_ROS2
	url = https://github.com/gabrinovas/charuco_detector_ROS2.git
[submodule "vision_visp"]
	path = vision_visp
	url = https://github.com/gabrinovas/vision_visp.git
	branch = humble
[submodule "flexbe_behavior_engine"]
	path = flexbe_behavior_engine
	url = https://github.com/gabrinovas/flexbe_behavior_engine.git
	branch = humble
[submodule "flexbe_app"]
	path = flexbe_app
	url = https://github.com/gabrinovas/flexbe_app.git
	branch = humble
